<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>后端管理首页</title>
  <div th:replace="admin/admin_fragment::css"></div>
</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
     <nav th:replace="admin/admin_fragment::nav"></nav>
     <nav th:replace="admin/admin_fragment::main-sidebar(11)"></nav>
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>学校选课系统</div>
          </h1>
          <div class="row">
            <div class="col-2"></div>
            <div class="card-body col-8 ">
              <p class="text-muted">我们将发送一个验证码来重置密码</p>
              <form method="POST">
                <input hidden th:value="${session.user.id}" id="id">
                <div class="form-group">
                  <label for="email">QQ邮箱</label>
                  <span class="input-group">
                      <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                      <button class="btn btn-primary small" type="button" onclick="sendcode()">发送验证码</button>
                    </span>
                </div>
                <div class="form-group">
                  <label for="code">验证码</label>
                  <input id="code" type="text" class="form-control"  tabindex="1" required autofocus>
                </div>
                <div class="form-group">
                  <label for="password">新密码</label>
                  <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="password" tabindex="2" required>
                  <div id="pwindicator" class="pwindicator">
                    <div class="bar"></div>
                    <div class="label"></div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="password2">确认密码</label>
                  <input id="password2" type="password" class="form-control"  tabindex="2" required>
                </div>

                <div class="form-group">
                  <button type="button" onclick="updatepassword()" class="btn btn-primary btn-block" tabindex="4">
                    重置密码
                  </button>
                </div>
              </form>
            </div>
            <div class="col-2"></div>
          </div>
        </section>
      </div>
      <div th:replace="admin/admin_fragment::footer" ></div>
    </div>
  </div>
  <!-- 邮箱是否存在 -->
  <div id="emailexist"  class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content  bg-info">
        <center>
          <p>学校选课系统</p>
          <p>该邮箱未注册注册，请重新输入</p>
        </center>
      </div>
    </div>
  </div>
  <!-- 验证码发送成功 -->
  <div id="success"  class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content  bg-info">
        <center>
          <p>学校选课系统</p>
          <p>验证码发送成功</p>
        </center>
      </div>
    </div>
  </div>
  <!-- 验证码校验成功 -->
  <div id="successcheck"  class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content  bg-info">
        <center>
          <p>学校选课系统</p>
          <p>验证码校验成功</p>
        </center>
      </div>
    </div>
  </div>
  <!-- 60秒内不能发送两次-->
  <div id="error"  class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content  bg-warning">
        <center>
          <p>学校选课系统</p>
          <p>60秒内不能发送两次</p>
        </center>
      </div>
    </div>
  </div>
  <!-- 验证码错误 -->
  <div id="errorcheck"  class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content  bg-danger">
        <center>
          <p>学校选课系统</p>
          <p>验证码错误</p>
        </center>
      </div>
    </div>
  </div>
  <!-- 验证码错误 -->
  <div id="passtime"  class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content  bg-info">
        <center>
          <p>学校选课系统</p>
          <p>验证码已过期，请重新发送</p>
        </center>
      </div>
    </div>
  </div>
  <div th:replace="admin/admin_fragment::js" th:remove="tag"></div>
  <script>
    /*校验邮箱是否存在*/
    $("#email").change(function () {
      $.ajax({
        url:"existemail?email="+$('#email').val(),
        success:function (result) {
          if (result=='success'){}
          else {
            $('#emailexist').modal('toggle')
            $('#email').val("")
          }
        }
      })
    })
    /*发送验证码*/
    function sendcode() {
      var qq = $("#email").val();
      const ischeck = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/.test(qq);
      if (ischeck){
        $.ajax({
          url:"sendcheckCode?qq="+qq,
          success: function (msg) {
            if (msg=='success'){
              $('#success').modal('toggle')
            }else {
              $('#error').modal('toggle')
            }
          }
        })
      }else {
        alert("请填写正确邮箱地址")
      }
    }
    /*校验两次密码输入是否一致*/
    $("#password2").change(function () {
      let val = $("#password").val();
      let val1 = $("#password2").val();
      if (val1==val&&val1!=null&&val1!=''){
      }else {
        alert('两次密码要一致')
        $("#password").val('');
        $("#password2").val('');
      }
    });
    $("#code").change(function () {
      var code =$("#code").val();
      var qq = $("#email").val();
      $.ajax({
        url:"checkcode?code="+code+"&qq="+qq,
        success:function (result) {
          if (result=='success'){
            $('#successcheck').modal('toggle')
          }else if (result=='error'){
            $('#errorcheck').modal('toggle')
          }else {
            $('#passtime').modal('toggle')
          }
        }
      })
    })
    function updatepassword() {
      let password = $("#password").val();
      let id = $("#id").val();
      $.ajax({
        url:'adminupdatepassword?password='+password+"&id="+id,
        success:function (result) {
          alert("密码重置成功，请重新登录")
          window.location='logout'
        }
      })
    }
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
      datasets: [{
        label: 'Statistics',
        data: [460, 458, 330, 502, 430, 610, 488],
        borderWidth: 2,
        backgroundColor: 'rgb(87,75,144)',
        borderColor: 'rgb(87,75,144)',
        borderWidth: 2.5,
        pointBackgroundColor: '#ffffff',
        pointRadius: 4
      }]
    },
    options: {
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            stepSize: 150
          }
        }],
        xAxes: [{
          gridLines: {
            display: false
          }
        }]
      },
    }
  });
  </script>
</body>
</html>